@page "/addchapter"
@using LearningManagementSystem.App.Auth
@using LearningManagementSystem.App.Contracts
@using LearningManagementSystem.App.ViewModels
@inject ICourseDataService CourseDataService
@inject IChapterDataService ChapterDataService
@inject NavigationManager NavigationManager
@inject CustomStateProvider AuthStateProvider

<style>
    .form-col {
        max-width: 37%; /* Ajustează valoarea pentru a seta lățimea maximă dorită */
        width: 100%;
    }

    /* Elimină sublinierea implicită a link-ului */
    .font-weight-normal:hover {
        text-decoration: none;
    }

    .container-fluid {
        margin: 0;
        padding: 5%;
    }

    .custom-cancel-btn {
        background-color: #f2f2f2;
        color: black;
        border: none;
        outline: none; /* Adaugă această regulă pentru a elimina conturul albastru la focus */
    }

    .custom-save-btn {
        background-color: #ff9404;
        color: white;
        border: none;
        outline: none; /* Adaugă această regulă pentru a elimina conturul albastru la focus */
    }

        .custom-save-btn:hover {
            background-color: #fcba5c;
            color: black;
            border: none;
            outline: none;
        }

    .custom-cancel-btn:hover {
        background-color: #fcba5c;
        color: black;
        border: none;
        outline: none;
    }

    @@media (max-width: 992px) {
        .form-col {
            max-width: 100%;
            margin: 0 auto;
        }
    }

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
    }
</style>

<div class="container-fluid bg-light">
    <div class="row justify-content-md-center">
        <div class="col-md-6 form-col">
            <div class="card">
                <div class="card-body">
                    <h1 class="h2 font-weight-normal title text-center">
                        New Chapter
                    </h1>
                    <p class="text-center">Please enter chapter details below!</p>

                    <EditForm Model="@ChapterViewModel" OnValidSubmit="@HandleValidSubmit" class="form-chapter">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="course" class="sr-only">Course:</label>
                            <label>Course:</label>
                            @if (Courses != null)
                            {
                                <select id="course" class="form-select" @bind="@ChapterViewModel.CourseId">
                                    @foreach (var course in Courses)
                                    {
                                        <option value="@course.CourseId">@course.Title</option>
                                    }
                                </select>
                                <ValidationMessage For="@(() => ChapterViewModel.CourseId)" />
                            }
                            else
                            {
                                <p>Loading courses...</p>
                            }
                        </div>

                        <div class="form-group">
                            <label for="title" class="sr-only">Chapter Title:</label>
                            <label>Chapter Title:</label>
                            <InputText id="title" class="form-control" @bind-Value="@ChapterViewModel.Title" placeholder="Enter chapter title"></InputText>
                            <ValidationMessage For="@(() => ChapterViewModel.Title)" />
                        </div>

                        <div class="form-group">
                            <label for="link" class="sr-only">Link:</label>
                            <label>Link:</label>
                            <InputText id="link" class="form-control" @bind-Value="@ChapterViewModel.Link" placeholder="Enter link"></InputText>
                            <ValidationMessage For="@(() => ChapterViewModel.Link)" />
                        </div>

                        <div class="form-group">
                            <div class="d-flex flex-column">
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3 custom-save-btn">Save Chapter</button>
                                <hr class="my-3 w-100 mx-auto">
                                <button class="btn btn-lg btn-primary btn-block mt-3 custom-cancel-btn" @onclick="Cancel">Cancel</button>
                            </div>
                        </div>

                        <div class="form-group text-center">
                            <ValidationSummary />
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<CourseDto> Courses { get; set; }
    public ChapterViewModel ChapterViewModel { get; set; } = new ChapterViewModel();
    public string Message { get; set; }
    public Guid UserId = Guid.Empty;


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var claims = user.Claims.ToList();
        bool hasAdminOrProfessorRole = claims.Any(claim => claim.Type == "role" && (claim.Value == "Admin" || claim.Value == "Professor"));
        var userIdClaim = claims.FirstOrDefault(claim => claim.Type == "nameid");
        if (userIdClaim != null) UserId = Guid.Parse(userIdClaim.Value);

        if (!hasAdminOrProfessorRole)
        {
            Message = "Only admins are allowed to create chapters";
            NavigationManager.NavigateTo("/chapteroverview");
        }
        Courses = (await CourseDataService.GetCoursesAsync()).ToList().Where(course => course.UserId == UserId).ToList();
    }

    private async Task HandleValidSubmit()
    {
        var result = await ChapterDataService.CreateChapterAsync(ChapterViewModel);
        if (result.IsSuccess)
        {
            Message = "Chapter created successfully";
            NavigationManager.NavigateTo("/chapteroverview");
        }
        else
        {
            Message = result.Message;
            if (!string.IsNullOrWhiteSpace(result.ValidationErrors))
            {
                Message += result.ValidationErrors;
            }
        }
    }

    private void Cancel()
    {
        NavigationManager.NavigateTo("/chapteroverview");
    }
}
