@page "/updatecourse/{courseId}"
@using LearningManagementSystem.App.Auth
@using LearningManagementSystem.App.Contracts
@using LearningManagementSystem.App.ViewModels
@using Microsoft.AspNetCore.Components.Authorization
@inject CustomStateProvider AuthStateProvider

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        color: #333;
    }

    .form-col {
        max-width: 37%; /* Ajustează valoarea pentru a seta lățimea maximă dorită */
        width: 100%;
    }

    /* Elimină sublinierea implicită a link-ului */
    .font-weight-normal:hover {
        text-decoration: none;
    }

    .card-body {
        background-color: white;
        border: 1px solid #D3D3D3; /* Setează culoarea borderului */
        border-radius: 10px; /* Setează raza colțurilor */
    }

    .container-fluid {
        margin: 0;
        padding: 5%;
    }

    .custom-cancel-btn {
        background-color: #f2f2f2;
        color: black;
        border: none;
        outline: none; /* Adaugă această regulă pentru a elimina conturul albastru la focus */
    }

    .custom-save-btn {
        background-color: #ff9404;
        color: white;
        border: none;
        outline: none; /* Adaugă această regulă pentru a elimina conturul albastru la focus */
    }

        .custom-save-btn:hover {
            background-color: #fcba5c;
            color: black;
            border: none;
            outline: none;
        }

    .custom-cancel-btn:hover {
        background-color: #fcba5c;
        color: black;
        border: none;
        outline: none;
    }

    @@media (max-width: 992px) {
        .form-col {
            max-width: 100%;
            margin: 0 auto;
        }
    }

</style>

<div class="container-fluid bg-light">
    <div class="row justify-content-md-center">
        <div class="col-md-6 form-col">
            <div class="card">
                <div class="card-body">
                    <h1 class="h2 font-weight-normal title text-center"> 
                        Update Course
                    </h1>
                    <p class="text-center">Please update course details below!</p>

                    <EditForm Model="@CourseViewModel" OnValidSubmit="@HandleValidSubmit">
                        <DataAnnotationsValidator />

                        <div class="form-group">
                            <label for="title" class=".col-sm-12 form-label">Course Title:</label>
                            <div class=".col-sm-12">
                                <InputText id="title" class="form-control" @bind-Value="@CourseViewModel.Title" placeholder="Enter course title"></InputText>
                                <ValidationMessage For="@(() => CourseViewModel.Title)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="description" class=".col-sm-12 form-label">Description:</label>
                            <div class=".col-sm-12">
                                <InputText id="description" class="form-control" @bind-Value="@CourseViewModel.Description" placeholder="Enter course description"></InputText>
                                <ValidationMessage For="@(() => CourseViewModel.Description)" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="d-flex flex-column">
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3 custom-save-btn">Update Course</button>
                                <hr class="my-3 w-100 mx-auto">
                                <button class="btn btn-lg btn-primary btn-block mt-3 custom-cancel-btn" @onclick="Cancel">Cancel</button>
                            </div>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public ICourseDataService CourseDataService { get; set; }

    [Inject]
    public ICategoryDataService CategoryDataService { get; set; }

    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public string CourseId { get; set; }

    public CourseViewModel CourseViewModel { get; set; } = new CourseViewModel();
    public string Message { get; set; }

    public bool HasAdminRole = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var claims = user.Claims.ToList();
        bool hasAdminOrProfessorRole = claims.Any(claim => claim.Type == "role" && (claim.Value == "Admin" || claim.Value == "Professor"));
        HasAdminRole = claims.Any(claim => claim.Type == "role" && claim.Value == "Admin");

        if (!hasAdminOrProfessorRole)
        {
            Message = "Only admins are allowed to update courses";
            if (HasAdminRole)
            {
                NavigationManager.NavigateTo("/courseoverview");
            }
            else{
                NavigationManager.NavigateTo("/categoryoverview");
            }
        }

        if (!string.IsNullOrEmpty(CourseId))
        {
            var courseResponse = await CourseDataService.GetCourseByIdAsync(Guid.Parse(CourseId));
            if (courseResponse.IsSuccess)
            {
                CourseViewModel = courseResponse.Data;
            }
            else
            {
                // Handle the case when the course cannot be retrieved.
                // Redirect to an error page, display a message, etc.
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        var result = await CourseDataService.UpdateCourseAsync(CourseViewModel);
        if (result.IsSuccess)
        {
            Message = "Course updated successfully";
            if(HasAdminRole)
            {
                NavigationManager.NavigateTo("/courseoverview");
            }
            else
            {
                NavigationManager.NavigateTo("/categoryoverview");
            }
        }
        else
        {
            Message = result.Message;
            if (!string.IsNullOrWhiteSpace(result.ValidationErrors))
            {
                Message += result.ValidationErrors;
            }
        }
    }

    private void Cancel()
    {
        if (HasAdminRole)
        {
            NavigationManager.NavigateTo("/courseoverview");
        }
        else
        {
            NavigationManager.NavigateTo("/categoryoverview");
        }
    }
}
