@page "/register"
@using LearningManagementSystem.App.Auth
@using LearningManagementSystem.App.ViewModels
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider

<h1 class="h2 font-weight-normal login-title">
    Register
</h1>

<EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="registerRequest">
    <DataAnnotationsValidator />

    <label for="inputUsername" class="sr-only">Username</label>
    <InputText id="inputUsername" class="form-control" @bind-Value="registerRequest.UserName" autofocus placeholder="Username" />
    <ValidationMessage For="@(() => registerRequest.UserName)" />

    <label for="inputFirstName" class="sr-only">First Name</label>
    <InputText id="inputFirstName" class="form-control" @bind-Value="registerRequest.FirstName" autofocus placeholder="First Name" />
    <ValidationMessage For="@(() => registerRequest.FirstName)" />

    <label for="inputLastName" class="sr-only">Last Name</label>
    <InputText id="inputLastName" class="form-control" @bind-Value="registerRequest.LastName" autofocus placeholder="Last Name" />
    <ValidationMessage For="@(() => registerRequest.LastName)" />

    <label for="inputEmail" class="sr-only">Email</label>
    <InputText id="inputEmail" class="form-control" @bind-Value="registerRequest.Email" autofocus placeholder="Email" />
    <ValidationMessage For="@(() => registerRequest.Email)" />

    <label for="inputPassword" class="sr-only">Password</label>
    <InputText type="password" id="inputPassword" class="form-control" placeholder="Password" @bind-Value="registerRequest.Password" />
    <ValidationMessage For="@(() => registerRequest.Password)" />

    <label for="inputPhoneNumber" class="sr-only">Phone Number</label>
    <InputText id="inputPhoneNumber" class="form-control" @bind-Value="registerRequest.PhoneNumber" autofocus placeholder="Phone Number" />
    <ValidationMessage For="@(() => registerRequest.PhoneNumber)" />

    <label for="inputRole" class="sr-only">Role</label>
    <InputSelect id="inputRole" class="form-control" @bind-Value="registerRequest.Role" autofocus>
        <option value="Student">Student</option>
        <option value="Student">Professor</option>
    </InputSelect>
    <ValidationMessage For="@(() => registerRequest.Role)" />

    <br />

    <button class="btn btn-lg btn-primary btn-block" type="submit" onclick="OnClickHandler">Sign up</button>

    <label class="text-danger">@error</label>
</EditForm>

@code {
    RegisterViewModel registerRequest { get; set; } = new RegisterViewModel();
    string error { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Register(registerRequest);
            navigationManager.NavigateTo("/login");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}