@page "/solve-quiz/{chapterId}"
@using LearningManagementSystem.App.Auth
@using LearningManagementSystem.App.Contracts
@using LearningManagementSystem.App.Services
@using LearningManagementSystem.App.SharedDataServices
@using LearningManagementSystem.App.ViewModels
@inject NavigationManager NavigationManager
@inject CustomStateProvider AuthStateProvider

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .title {
        font-weight: bold;
        text-align: center;
        color: #ff7f00;
        font-size: 2.5em;
        margin-bottom: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .description {
        font-size: 0.9em;
        text-align: center;
        color: #333;
        font-size: 1em;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .video-container {
        position: relative;
        overflow: hidden;
        width: 70%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the container horizontally */
        padding-top: 39.375%; /* 9 / 16 * 100 for a 16:9 aspect ratio */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

        .video-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: none;
            border-radius: 8px;
        }

    .pdf-container {
        width: 70%;
        height: 900px;
        margin: 0 auto;
        border: 1px solid #ddd;
        margin-top: 20px;
        overflow: auto;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .not-found {
        position: relative;
        text-align: center;
        width: 70%;
        overflow: hidden;
        margin: 0 auto; /* Center the container horizontally */
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Styles for mobile devices */
    @@media (max-width: 600px) {
        .video-container {
            padding-top: 75%; /* Adjust aspect ratio for mobile */
        }

        .pdf-container {
            /* Adjust styles as needed for mobile */
        }
    }

    /* Styles for tablet devices */
    @@media (min-width: 601px) and (max-width: 1024px) {
        .video-container {
            padding-top: 64%; /* Adjust aspect ratio for tablet */
        }

        .pdf-container {
            /* Adjust styles as needed for tablet */
        }
    }

    .container {
        width: 80%;
        margin: auto;
    }

    h4, h5 {
        color: #333;
    }

    p {
        color: #666;
    }

    iframe, embed {
        width: 100%;
        height: 400px;
    }

    /* Stiluri pentru întrebări */
    .question {
        margin-top: 20px;
    }

        .question strong {
            color: #333;
        }

        .question ul {
            list-style-type: none;
            padding: 0;
        }

            .question ul li {
                background-color: #f9f9f9;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 5px;
            }

                .question ul li strong {
                    color: green;
                }

                .question ul li em {
                    color: red;
                }

    /* Stiluri responsabile */
    @@media (max-width: 600px) {
        .container {
            width: 95%;
        }

        iframe, embed {
            height: 300px;
        }
    }

    .edit-button {
        background-color: transparent;
        color: white;
        width: 30px; /* Adjusted width for a smaller circular button */
        height: 30px; /* Adjusted height for a smaller circular button */
        border: none;
        border-radius: 50%; /* Set border-radius to 50% for a circle */
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center; /* Center the content horizontally */
    }

        .edit-button:hover {
            background-color: transparent;
        }

    .edit-icon {
        width: 20px; /* Adjusted icon size */
        height: 20px;
    }

    .presentation {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .title-container {
        flex-grow: 2; /* Grow to take available space */
    }

    .edit-button-container {
        margin-left: 10px; /* Add some space between title and button */
        width: 10%;
        height: 10%;
    }

</style>


@if (ChapterDto != null && Enrollment != null)
{
    <h5>Quizz</h5>

    @if (ChapterDto.Questions != null && ChapterDto.Questions.Any())
    {
        <EditForm Model="@SolveQuizViewModel" OnValidSubmit="@SubmitAnswers" class="form-quiz">
                        <DataAnnotationsValidator />
        @foreach (var question in ChapterDto.Questions)
        {
            <div>
                <strong>@question.Text</strong>
                @if (@Messages.ContainsKey(question.QuestionId))
                {
                    <div style="color: red; margin-top: 10px;">@Messages[question.QuestionId]</div>
                }
                <ul>
                    @foreach (var choice in question.Choices)
                    {
                        <li>
                            <input type="radio" name="@($"question_{question.QuestionId}")" id="@($"choice_{choice.ChoiceId}")" value="@choice.Content" @onchange="() => SelectChoice(question.QuestionId, choice.ChoiceId, choice.IsCorrect)" />
                            <label for="@($"choice_{choice.ChoiceId}")">@choice.Content</label>
                        </li>
                    }
                </ul>
            </div>
        }

            <div class="form-group text-center">
                <ValidationSummary />
            </div>

        @if (!Submitted) {
                <div class="form-group">
                    <div class="d-flex flex-column">
                        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3 custom-save-btn">Submit</button>
                    </div>
                </div>
        }

        @if (!string.IsNullOrEmpty(@Message))
        {
            <div style="color: red; margin-top: 10px;">Something went wrong, verify and try again</div>
        }
        </EditForm>
    }
    else
    {
        <p>Nu există întrebări pentru acest capitol.</p>
    }
}
else
{
    <p>Loading...</p>
}

@code {
    [Inject]
    public IChapterDataService ChapterDataService { get; set; }

    [Inject]
    public IEnrollmentDataService EnrollmentDataService { get; set; }

    [Inject]
    public IQuizDataService QuizDataService { get; set; }

    [Parameter]
    public string ChapterId { get; set; }

    public ChapterViewModel Chapter { get; set; }

    public ChapterDto ChapterDto { get; set; }

    public bool Submitted { get; set; } = false;

    public SolveQuizViewModel SolveQuizViewModel { get; set; } = new();

    public bool HasAdminRole = false;

    public Guid UserId = Guid.Empty;

    public List<EnrolledCourseDto> EnrolledCourses { get; set; } = [];

    public EnrolledCourseDto Enrollment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();

        var user = authState.User;
        var claims = user.Claims.ToList();

        var userIdClaim = claims.FirstOrDefault(claim => claim.Type == "nameid");

        HasAdminRole = claims.Any(claim => claim.Type == "role" && claim.Value == "Admin");

        if (userIdClaim != null) UserId = Guid.Parse(userIdClaim.Value);

        Guid Id = Guid.Parse(ChapterId);

        var c = await ChapterDataService.GetChapterDetailsAsync(Id);

        if (c.IsSuccess)
        {
            ChapterDto = c.Data;
        }
        else
        {
            Console.WriteLine("Nothing to see here.");
        }

        var result = await ChapterDataService.GetChapterByIdAsync(Id);

        if (result.IsSuccess)
        {
            Chapter = result.Data;
            SolveQuizViewModel.ChapterId = Chapter.ChapterId;

            EnrolledCourses = (await EnrollmentDataService.GetEnrolledCoursesAsync(UserId)).ToList();

            Enrollment = EnrolledCourses.FirstOrDefault(ec => ec.CourseId == Chapter.CourseId);

            if (Enrollment != null)
            {
                SolveQuizViewModel.EnrollmentId = Enrollment.EnrollmentId;

                foreach (var question in ChapterDto.Questions)
                {
                    SolveQuizViewModel.QuestionResults.Add(new SolveQuizQuestionResultViewModel { QuestionId = question.QuestionId });
                }
            }

        }
        else
        {
            Console.WriteLine("Nothing to see here.");
        }
    }

    public string Message { get; set; } = "";

    public Dictionary<Guid, string> Messages { get; set; } = new();


    private Dictionary<Guid, (Guid, bool)> selectedChoices = new Dictionary<Guid, (Guid, bool)>();

    private void SelectChoice(Guid questionId, Guid choiceId, bool isCorrect)
    {
        if (selectedChoices.ContainsKey(questionId))
        {
            selectedChoices[questionId] = (choiceId, isCorrect);
        }
        else
        {
            selectedChoices.Add(questionId, (choiceId, isCorrect));
        }
    }

    private async void SubmitAnswers()
    {
        foreach (var question in SolveQuizViewModel.QuestionResults)
        {
            if (selectedChoices.ContainsKey(question.QuestionId))
            {
                question.ChoiceId = selectedChoices[question.QuestionId].Item1;
                question.IsCorrect = selectedChoices[question.QuestionId].Item2;
            }
            else return;
        }

        var result = await QuizDataService.SolveQuizAsync(SolveQuizViewModel);
        if (result.IsSuccess)
        {
            foreach (var question in ChapterDto.Questions)
            {
                if (selectedChoices.ContainsKey(question.QuestionId))
                {
                    if (selectedChoices[question.QuestionId].Item2)
                    {
                        Messages.Add(question.QuestionId, "Good job!");
                    }
                    else
                    {
                        Messages.Add(question.QuestionId, "Wrong answer!");
                    }
                }
            }

            Submitted = true;
        }
        else
        {
            Message = result.Message;
            if (!string.IsNullOrWhiteSpace(result.ValidationErrors))
            {
                Message += result.ValidationErrors;
            }
        }

        StateHasChanged();
    }

    private void NavigateToCreateQuiz()
    {
        NavigationManager.NavigateTo($"/createquiz/{Chapter.ChapterId}");
    }

    private void NavigateToUpdateChapter()
    {
        NavigationManager.NavigateTo($"/updatechapter/{Chapter.ChapterId}");
    }
}
